* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
  background-color: rgb(139, 42, 195);
  border-radius: 0 0 30px 30px;
}

.result-bubble {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.score-desc {
  text-align: center;
  width: 250px;
  padding-bottom: 1rem;
}

/* BOTTOM SUMMARY SIDE */

.summary {
  margin: 25px 35px;
  color: #363d4f;
  font-weight: 800;
}

.summary-text {
  font-size: 20px;
}

.summary-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* .reaction-box {
  display: flex;
  background-color: red;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border-radius: 5px;
  width: 360px;
  height: 50px;
  padding: 0 25px 0 20px;
} */

div > .summary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  width: 360px;
  height: 60px;
  padding: 0 25px 0 20px;
}

div > .reaction-box {
  color: hsl(0, 100%, 67%);
  background-color: #fff6f5;
}

div > .memory-box {
  color: hsl(39, 100%, 56%);
  background-color: #fffbf2;
}

div > .verbal-box {
  color: hsl(166, 100%, 37%);
  background-color: #f2fbfa;
}

div > .visual-box {
  color: hsl(234, 85%, 45%);
  background-color: #f3f3fd;
}

.svg-summary {
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
}

.numboutof {
  color: #5a5a6c;
  font-weight: 700;
}

.outof100 {
  color: #ada7b1;
  margin-left: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.btn {
  width: 97%;
  height: 3.5rem;
  border-radius: 80px;
  border: none;
  font-size: 20px;
  background-color: #303b59;
  color: #e7ebf0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500) {
}
